{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <title>
        {% block title %}
        
        {% endblock %}
      </title>
    <link rel="stylesheet" href="{% static 'influencer/influencer.css' %}" />
    <link rel="stylesheet" href="{% static 'brand/brand.css' %}" />
    <link rel="stylesheet" href="{% static 'influencer/error.css' %}" />
    {% block statics %}

    {% endblock %}
    <script src="{% static 'js/recruiters/nav.js' %}" defer></script>

    <style>


    </style>  
</head>
<body>
  <div class="container">
    <!-- Sidebar -->
    <div class="sidebar">
      <h2>Collabers</h2>
      <a href="{% url 'influencer:collabs' %}">Collabs</a>
      <a href="{% url 'influencer:applied' filter='all' %}">Status</a>
      <a href="{% url 'influencer:payment' %}">Payment</a>
      <a href="{% url 'influencer:profile' %}">Profile</a>
    </div>

    <!-- Main Content -->
    <div class="main">
      <div class="topbar">
        <div class="tab">Influencer</div>
        {% block page_name %}
        
        {% endblock page_name %}
        <div class="search-bar">
          <input type="text" placeholder="Search" />
        </div>
      </div>
  {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}


                {% block content %}

                {% endblock %}



  </div>
</body>
</html>
