{% extends 'influencer/layout.html' %}

{% block title %}
  Profile
{% endblock %}
{% load static %}
{% block statics %}

{% endblock %}
{% block page_name %}
>
  <div class="tab">Profile</div>
{% endblock %}
{% block content %}
  <h1>My Profile</h1>
  {% if influencer.channel_thumbnail_url %}
  
  <img src="{{influencer.channel_thumbnail_url}}" alt="">
  {% endif %}
  <ul class="profile-info">
    <li>
      <strong>Channel Name:</strong> {{ influencer.channel_name }}
    </li>
    <li>
      <strong>Channel ID:</strong> {{ influencer.channel_id }}
    </li>
    <li>
      <strong>Niche:</strong> {{ influencer.get_channel_niche_display }}
    </li>
    <li>
      <strong>Followers:</strong> {{ influencer.channel_follower }}
    </li>
    <li>
      <strong>Engagement Rate:</strong> {{ influencer.channel_engagement_rate }}
    </li>
    <li>
      <strong>Average Likes:</strong> {{ influencer.channel_avg_like }}
    </li>
    <li>
      <strong>Average Comments:</strong> {{ influencer.channel_avg_comments }}
    </li>
    <li>
      <strong>Total view:</strong> {{ influencer.channel_total_views }}
    </li>
    <li>
      <strong>Total Video count:</strong> {{ influencer.channel_video_count }}
    </li>
    <li>
      <strong>Average Comments:</strong> {{ influencer.channel_avg_comments }}
    </li>
    <li>
      <strong>Channel Description:</strong> {{ influencer.channel_description }}
    </li>
    <li>
      <strong>Wallet:</strong> ₹{{ influencer.wallet }}
    </li>
  </ul>
{% endblock %}
