    {% extends "brand/layout.html" %}

{% block title %}

{% endblock title %}
{% load static %}
{% block statics %}

{% endblock statics %}
{% block page_name %}
>
 <div class="tab">Payment</div> 
 >
 <div class="tab">View Your wallet and payment histroy</div>
{% endblock page_name %}
{% block content %}


    <h1>Payment Summary</h1>
<h3>Wallet Balance :  &#8377 {{ brand.wallet }}</h3>
    <h2>Paid Applications</h2>
    <table border="1">
        <tr>
            <th>Post</th>
            <th>Amount</th>
            <th>Ad done</th>
            <th>Enquiry</th>
        </tr>
        {% if paid %}
        
        {% for app in paid %}
        <tr>    
            <td></td>
            <td>{{ app.post.post_name }}</td>
            <td>{{ app.amount }}</td>
            <td>{{ app.is_confirmed }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="4">No paid applications.</td></tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="4">No paid applications.</td></tr>
        {% endif %}
    </table>

     <h2>Unpaid Applications</h2>
    <table border="1">
        <tr>
            <th>Post</th>
            <th>Amount</th>
            <th>Ad Done</th>
            <th>Process payment</th>
        </tr>
        {% if unpaid %} 
        
        {% for app in unpaid %}
        <tr>
            <td>{{ app.post.post_name }}</td>
            <td>{{ app.amount }}</td>
            <td>
                {% if app.is_posted  %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
            <td><button class="apply-btn">Pay</button></td>
        </tr>
        {% empty %}
        <tr><td colspan="4">No unpaid applications.</td></tr>
        {% endfor %}
        {% else %}
                <tr><td colspan="4">No unpaid applications.</td></tr>
        
        {% endif %}
    </table>
{% endblock content %}