{% extends 'brand/layout.html' %}
{% load static %}

{% block title %}
  Profile
{% endblock %}
{% block statics %}

{% endblock %}
{% block page_name %}
  <div class="tab">Profile</div>
{% endblock %}
{% block content %}
  <!-- templates/brand/profile.html -->
  <ul class="profile-info">
    <li>
      <strong>Name:</strong> {{ brand.brand_name }}
    </li>
    <li>
      <strong>Niche:</strong> {{ brand.get_brand_niche_display }}
    </li>
    <li>
      <strong>Wallet Balance:</strong> ₹{{ brand.wallet }}
    </li>

  </ul>
{% endblock %}
